<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
		xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "com.eaaatup.jamelchui"
		versionCode = "10" 
		version     = "1.0" >	
	<name>果占苗の嚐味旅程</name>
	<description>由小時候開始已受到家人的影響，對美食已有濃郁的興趣。漸漸長大後，更會將自己所賺回來的都用在美食上。現在，除了吃之外，還喜歡以相片一一將吃過的美食留下來，並加入小弟貧乏詞彙寫下來的文字，將所吃過的與大家分享，希望大家也會喜歡。

Blog: http://www.jamelchui.com
Email: zysk@ymail.com
Instagram: jamel_zysk
Openrice: http://jamel.openrice.com
新浪微博：果占苗
</description>
	<author href="http://eaaatup.com" email="alankwok@yahoo.com">Eaatup.com</author>
	<preference name="permissions" value="none" />
	<icon src="icons/apple-touch-icon-57-precomposed.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/apple-touch-icon-72-precomposed.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/apple-touch-icon-114-precomposed.png" gap:platform="ios" width="114" height="114" />		
	<icon src="icons/apple-touch-icon-144-precomposed.png" gap:platform="ios" width="144" height="144" />	
	<icon src="icons/android-ldpi.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icons/android-mdpi.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icons/android-hdpi.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icons/android-xhdpi.png" gap:platform="android" gap:density="xhdpi" />
	<icon src="icons/winphone-icon.png" gap:platform="winphone" />
	<icon src="icons/winphone-tileicon.png" gap:platform="winphone" gap:role="background" />	
	<gap:splash src="icons/ios-splash-320x480.png" gap:platform="ios" width="320" height="480" />
	<gap:splash src="icons/ios-splash-640x960.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="icons/ios-splash-640x1136.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="icons/ios-splash-1024x748.png" gap:platform="ios" width="1024" height="748" />
	<gap:splash src="icons/ios-splash-768x1004.png" gap:platform="ios" width="768" height="1004" />	
	<gap:splash src="icons/ios-splash-2048x4796.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="icons/ios-splash-1536x2008.png" gap:platform="ios" width="1536" height="2008" />
	<gap:splash src="icons/android-splash-ldpi.jpg" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="icons/android-splash-mdpi.jpg" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="icons/android-splash-hdpi.jpg" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="icons/android-splash-xhdpi.jpg" gap:platform="android" gap:density="xhdpi" />
	<gap:splash src="icons/winphone-splash.png" gap:platform="winphone" />	
</widget>


